

/* Detalle del producto */

#producto-detalle{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}

#producto-imagen{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#producto-imagen img{
    width: 100%;
    max-width: 500px;
    object-fit: contain;
    filter: drop-shadow(
        0 12px 12px rgba(0,0,0,0.45)
    );
}

#producto-informacion{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#nombre-producto{
    margin: 0;
}

#descripcion-producto{
    color: var(--muted);
}

#cantidad-producto{
    display: flex;
    gap: 10px;
    align-items: center;
}

#cantidad{
    width: 60px;
}

/* productos relacionados */

#productos-relacionados{
    padding: 40px;
}

#lista-relacionados{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

/* responsive */

@media(max-width: 600px){

    #detalle-producto{
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    #producto-imagen{
        width: 100%;
    }

    #producto-informacion{
        width: 90%;
    }
}